<div class="scanner">
  <video #video width="400" height="300" style="border: 1px solid black;"></video>
  <div class="overlay" *ngIf="result"></div>
  <p *ngIf="result" class="barcode-result">Codice a barre scansionato: {{ result }}</p>
  <div *ngIf="productInfo">
    <h2>Dettagli Prodotto</h2>
    <p><strong>Nome:</strong> {{ productInfo.product_name || 'Non disponibile' }}</p>
    <p><strong>Qualità:</strong> {{ productInfo.popularity_key || 'Non disponibile' }}</p>
    <p><strong>Marca:</strong> {{ productInfo.brands || 'Non disponibile' }}</p>
    <p><strong>Categoria:</strong> {{ productInfo.food_groups || 'Non disponibile' }}</p>
    <p><strong>Ingredienti:</strong> {{ productInfo.ingredients_text || 'Non disponibile' }}</p>

    <!-- Sezione per i nutrient_levels_tags -->
    <div *ngIf="productInfo.nutrient_levels_tags && productInfo.nutrient_levels_tags.length">
      <h3>Livelli di Nutrienti</h3>
      <ul>
        <li *ngFor="let tag of productInfo.nutrient_levels_tags">{{ tag }}</li>
      </ul>
    </div>

    <div *ngIf="productInfo.nutriments">
      <h3>Nutrimenti per 100g</h3>
      <p><strong>Energia:</strong> {{ productInfo.nutriments.energy_100g || 'Non disponibile' }} kcal</p>
      <p><strong>Grassi:</strong> {{ productInfo.nutriments.fat_100g || 'Non disponibile' }} g</p>
      <p><strong>Grassi saturi:</strong> {{ productInfo.nutriments.saturated_fat_100g || 'Non disponibile' }} g</p>
      <p><strong>Carboidrati:</strong> {{ productInfo.nutriments.carbohydrates_100g || 'Non disponibile' }} g</p>
      <p><strong>Zuccheri:</strong> {{ productInfo.nutriments.sugars_100g || 'Non disponibile' }} g</p>
      <p><strong>Fibre:</strong> {{ productInfo.nutriments.fiber_100g || 'Non disponibile' }} g</p>
      <p><strong>Proteine:</strong> {{ productInfo.nutriments.proteins_100g || 'Non disponibile' }} g</p>
      <p><strong>Sale:</strong> {{ productInfo.nutriments.salt_100g || 'Non disponibile' }} g</p>
    </div>
    <img *ngIf="productInfo.image_url" [src]="productInfo.image_url" alt="Immagine del prodotto" width="200" />
  </div>
</div>
