#app-scanner {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
  }

  .btn {
    height: 40px;
    width: 100%;
    background-color: rgba(127, 26, 152, 0.328);
    color: white;
  }