<nav class="navbar navbar-mobile">
    <div class="navbar-container">
      <!-- Logo a sinistra che porta alla home -->
      <div class="navbar-item">
        <a routerLink="/home">
          <img src="assets/logo.png" alt="Logo" class="navbar-logo">
        </a>
      </div>
      
      <!-- Icona della lista al centro che porta al componente "lists" -->
      <div class="navbar-item">
        <a routerLink="/liste">
          <i class="fas fa-list navbar-icon"></i>
        </a>
      </div>
      
      <!-- Icona "+" a destra che porta al componente "new-list" -->
      <div class="navbar-item">
        <a routerLink="/add">
          <i class="fas fa-plus navbar-icon"></i>
        </a>
      </div>
    </div>
  </nav>
  